<app-carousel></app-carousel>
<app-products-filter (productListEvent)="onFilterProducts($event)">
</app-products-filter>
<div class="d-flex flex-wrap gap-2 justify-content-center my-5">
  <div
    class="col-md-6 col-lg-3 d-flex justify-content-center mb-4"
    *ngFor="let product of productList"
  >
    <app-product-card
      class="d-flex justify-content-center"
      [id]="product.id"
      [title]="product.title"
      [category]="product.category"
      [rating]="product.rating"
      [price]="product.price"
      (addToCart)="onAddToCart(product)"
    ></app-product-card>
  </div>
</div>
<div class="overlay" *ngIf="isLoading">
  <div class="spinner-container">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
