@import "../../../variables.scss";

.trash {
  color: var(--color-icon);
}
.img-fluid {
  width: 100px;
}
.quantity {
  width: 50px;
}

.price {
  width: 100px;
}
.bg-dark {
  background-color: var(--color-primary);
}

.btn {
  background-color: var(--color-button);
  border-color: var(--color-button);
}
.btn:hover {
  filter: brightness(90%);
}

/* Per tutti i browser */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
