<div class="about-page container py-5 text-white">
  <h1>About Us</h1>
  <video
    class="video_about"
    src="assets/video/video_about.mp4"
    autoplay
    loop
  ></video>

  <p class="mt-4">
    Welcome to SkyCart, the ultimate destination for drone enthusiasts! Founded
    in 2023, we are a passionate team dedicated to providing the latest and
    greatest in drone technology. Our mission is to empower individuals and
    businesses to explore new heights with our top-of-the-line drones.
  </p>
  <p>
    At SkyCart, we believe in innovation, quality, and excellent customer
    service. Whether you are a professional photographer, a hobbyist, or someone
    curious about drone technology, we have something for everyone. From compact
    drones for beginners to advanced models for professionals, our diverse range
    of products is designed to suit all your aerial needs.
  </p>
  <p>
    Our commitment to quality extends beyond our products. We strive to provide
    our customers with comprehensive support and guidance, ensuring a seamless
    and enjoyable flying experience. Our team of experts is always ready to
    assist with any questions or concerns.
  </p>
  <p>
    Thank you for choosing SkyCart. We are excited to be part of your aerial
    adventure!
  </p>
  <p class="mt-4">
    <strong>SkyCart Team</strong>
  </p>
</div>
