<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand mt-2 mt-lg-0" href="#">
      <img
        src="assets/images/logo.png"
        height="50"
        alt="Logo"
        loading="lazy"
        style="margin-top: -1px"
      />
    </a>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse left-elements"
      id="navbarSupportedContent"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/about"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/faq"
            >FAQ</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/contact"
            >Contact</a
          >
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center right-elements">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="d-flex align-items-center" *ngIf="!isLoggedin">
        <button
          type="button"
          class="btn btn-link px-3 me-2"
          (click)="goToLogin()"
        >
          Login
        </button>
      </div>
      <div class="d-flex align-items-center" *ngIf="isLoggedin">
        <!-- Icon -->
        <a class="link-secondary me-3" routerLink="/cart">
          <i class="fas fa-shopping-cart text-white"></i>
          <span class="badge rounded-pill badge-notification bg-danger">{{
            itemCount
          }}</span>
        </a>

        <!-- Avatar -->
        <div class="dropdown">
          <a
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            href="#"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://api.slingacademy.com/public/sample-users/5.png"
              class="rounded-circle"
              height="25"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <a class="dropdown-item rounded-5" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
