.gradient-custom-2 {
  /* fallback for old browsers */
  background: #4d4d4d;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #4d4d4d,
    #3c3c3c,
    #1e1e1e,
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #4d4d4d, #3c3c3c, #1e1e1e);
}

@media (min-width: 768px) {
  .gradient-form {
    min-height: 10vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
