
<div class="mx-auto w-75 p-0y mt-5">
  <div class="border rounded p-5">
    <div class="mb-3">
      <div class="d-flex justify-content-between flex-wrap">
        <h4>Cerca un prodotto</h4>
      </div>
      <div class="mt-3 d-flex">
        <input
          type="text"
          placeholder="Drone..."
          class="form-control flex-grow-1"
          required
        />
        <button class="btn btn-primary ms-2">Cerca</button>
      </div>
    </div>
  </div>
<div class="container mb-24">
  <ng-content #product></ng-content>
</div>
</div>
