@import '../../../../variables.scss';

option {
  background: var(--color-primary);
  color: white;
}
input, select{
  background-color: transparent !important
}
.btn{
  background-color: var(--color-button);
  border-color: var(--color-button);
}
