
// @import 'assets/bootswatch/bootstrap.min.css';
@import 'variables.scss';
body,
html {
  height: 100%;
}
/* Barra di scorrimento totale */
::-webkit-scrollbar {
  width: 5px;
}

/* Tracciato della barra di scorrimento */
::-webkit-scrollbar-track {
  background:var(--color-white);
}

/* Maniglia della barra di scorrimento */
::-webkit-scrollbar-thumb {
  background: var(--color-gray);
}

/* Maniglia hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-dark);
}
/* Per Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray) var(--color-white);
}
/* Per IE 11 */
body {
  -ms-overflow-style: none;
}

/* Nasconde la barra di scorrimento in IE 11 */
body::-ms-scrollbar {
  display: none;
}

.bg-dark{
  background-color:  #0b1b27 !important
}
.cursor-pointer{
  cursor: pointer;
}
