:root {
  --color-primary: #0b1b27;
  --color-primary-dark-1: #183449;
  --color-primary-dark-2: #132a3b;
  --color-primary-dark-3: #0b1c27;
  --color-button: #1c5c69;
  --color-background: #0f202f;
  --color-icon: #cecece;
  --color-white: #f1f1f1;
  --color-gray: #888;
  --color-gray-dark: #555;
}
