@import "../../../../variables.scss";

.btn {
  background-color: var(--color-button);
  border-color: var(--color-button);
}
.btn:hover {
  filter: brightness(90%);
}
.caption-text {
  font-size: 0.75rem;
  text-align: center;
  padding-top: 0.5rem;
  opacity: 0.8;
}
