<!-- ============== SECTION CONTENT ============== -->
<section class="padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-lg-6">
        <article class="d-flex justify-content-center">
          <div class="bg-dark img-thumbnail my-4">
            <spline-viewer
              loading-anim-type="spinner-small-dark"
              url="https://prod.spline.design/Osi2XDlFPFHyViXq/scene.splinecode"
            ></spline-viewer>
          </div>
        </article>
        <!-- gallery-wrap .end// -->
      </aside>
      <main class="col-lg-6">
        <article class="ps-lg-3 text-white my-2">
          <h4 class="title">
            {{ product.title }}
          </h4>

          <div class="rating-wrap my-3">
            <b class="label-rating text-warning me-2"> {{ product.rating }}</b>

            <span class="label-rating text-success">In stock</span>
          </div>
          <!-- rating-wrap.// -->

          <div class="mb-3">
            <var class="price h5">$75.00</var>
            <span class="text-muted">/per box</span>
          </div>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Perspiciatis, quisquam voluptas, aliquam ea placeat veritatis sit ut
            inventore quos quo numquam sunt nam alias corporis veniam quasi
            voluptatem a cumque.
          </p>

          <dl class="row">
            <dt class="col-3">Category:</dt>
            <dd class="col-9">{{ product.category }}</dd>

            <dt class="col-3">Color:</dt>
            <dd class="col-9">Dark Grey</dd>
          </dl>

          <hr />
          <div class="d-flex justify-content-center my-2">
            <button
              type="button"
              class="btn btn-primary me-2"
              [routerLink]="'/products'"
            >
              Back to products
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onAddToCart()"
            >
              Add to cart
            </button>
          </div>
        </article>
      </main>
    </div>
  </div>
</section>
